@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-primary-glow: rgba(6, 182, 212, 0.15);
  --color-secondary-glow: rgba(139, 92, 246, 0.15);
}

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}
